html {
  height: 100%;
}

body {
  margin: 1em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("https://static.vecteezy.com/system/resources/previews/010/628/210/original/red-curtain-closes-on-stage-background-illustration-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#pawprint {
  height: 20px;
  width: 20px;
}

#boogie {
  :modal {
    background-color: beige;
    border: 2px solid burlywood;
    border-radius: 5px;
  }
}

#catPopup {
  display: grid;
}
#boog {
  height: 700px;
}

.endmodal {
  font-size: 40px;
}

.wrong {
  font-size: 40px;
}

#wrongpopup {
  display: grid;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 40px;
}

.feelsbad {
  font-size: 30px;
}

#rightpopup {
  display: grid;
  justify-content: center;
  align-items: center;
}

.feelsgood {
  font-size: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 40px;
}

img {
  height: 150px;
}

.input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
  margin-bottom: 25px;
}

label {
  color: white;
  font-family: "Limelight", sans-serif;
}
select {
  font-size: 20px;
  border-radius: 5px;
}

.country {
  display: grid;
  justify-content: center;
  align-items: center;
}

.genre {
  display: grid;
  justify-content: center;
  align-items: center;
}

.media {
  display: grid;
  justify-content: center;
  align-items: center;
}

.service {
  display: grid;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitbtn {
  background: #f78e69;
  color: white;
  font-family: "Limelight", sans-serif;
  border-style: outset;
  height: 60px;
  width: 125px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
}

#submitbtn:hover {
  background-color: #f56e3d;
  cursor: pointer;
}

ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

li {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 10px;
  background-color: #c19c0b;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
}

li:hover {
  background-color: #f2c618;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f78e69;
  color: white;
  font-family: "Limelight", sans-serif;
  border-style: outset;
  height: 60px;
  width: 125px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  opacity: 0;
  margin: 20px;
}
.next:hover {
  background-color: #f56e3d;
  cursor: auto;
}

@media (min-width: 716px) and (max-width: 1215px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #boog {
    height: 400px;
  }

  .endmodal {
    font-size: 30px;
  }

  .wrong {
    font-size: 30px;
  }

  h1 {
    flex-wrap: wrap;
    margin: 10px;
  }
  img {
    height: 100px;
  }
  .input-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
      "country genre"
      "media service"
      "submit submit";
  }
  select {
    font-size: 25px;
  }
  .submit {
    display: flex;
    grid-area: submit;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 715px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  #boog {
    height: 200px;
  }

  .endmodal {
    font-size: 20px;
  }

  .wrong {
    font-size: 20px;
  }

  p {
    font-size: 30px;
  }

  .feelsbad {
    font-size: 20px;
  }

  .feelsgood {
    font-size: 30px;
  }

  h1 {
    flex-wrap: wrap;
    margin: 10px;
  }
  img {
    height: 75px;
  }

  .input-form {
    display: flex;
    flex-direction: column;
  }

  div {
    padding: 10px;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  li {
    width: 90%;
    flex-direction: column;
  }
}
